{% extends "base_site/base.html" %}
{% load static%}
{% block content%}
<!--Banner Image-->
<div id="intro" class="view">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <h1 style="color: #fcba03 !important;" class="text-center text-white fancy">R & G Contracts LTD</h1>
                <p style="color: #fcba03 !important; text-decoration: overline;" class="lead text-center mb-0" >No job too big or small</p><span></span>
                <div class="text-center ml-auto"><a href="#" style="color: #fcba03 !important;" class="text-center" ><i class="fas fa-arrow-down"></i></a></div>
            </div>
        </div>
    </div>
</div>


<!--About main content -->
<div class="container mt-3">
    <div class="row justify-content-center">
        <div id="about" class="col-12">
                <h1 class="fancy-heading text-center">About us</h1>
                <p class = "text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quisequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.idatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidaidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quitat non proident, sunt in culpa qui
                </p>      
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="card-group mb-6">
            <div class="col-lg-4 col-xs-12 col-md-12 mt-2 mb-4">
                    <div class="card">
                        <img src="{%static 'base_site/img/kitchen.jpg' %}" class="card-img-top" alt="kitchendoor">
                        <div class="card-body">
                            <div class="card-title fancy">Kitchens</div>
                            <hr>
                            <p class="card-text pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p class="card-text"><small class="text-muted">*Photo from previous work</small></p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-xs-12col-md-12 mt-2 mb-4">
                    <div class="card">
                    <img src="{%static 'base_site/img/bathroom.jpg' %}" class="card-img-top img-responsive" alt="bathroom">
                    <div class="card-body">
                        <div class="card-title fancy">Bathrooms</div>
                        <hr>
                            <p class="card-text pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p class="card-text"><small class="text-muted">*Photo from previous work</small></p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-md-12 mt-2">
                <div class="card">
                    <img src="{%static 'base_site/img/fence.jpg' %}" class="card-img-top" alt="kitchendoor">
                    <div class="card-body">
                        <div class="card-title fancy">Fences</div>
                        <hr>
                            <p class="card-text pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p class="card-text"><small class="text-muted">*Photo from previous work</small></p>
                        </div>
                    </div>
            </div>
            
        </div><!--End of card group-->
    </div><!--End of Row-->
</div><!--End of container-->

<!--About main content -->
<div class="container mt-5 mb-2">
    <div class="row justify-content-center">
        <div class="col-12">
                <p class = "">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quisequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.idatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidaidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                        sunt in culpa quiidatat non proident, sunt in culpa quitat non proident, sunt in culpa qui
                </p>      
        </div>
    </div>
    <hr>
</div>
<!--Services-->
<div class="container">
    <h1 class="text-center fancy-heading mb-4">Services</h1>
    <div class="row justify-content-center">
            <div class="col-4 col-md-4 col-xs-12">
                    <h4 class="fancy-heading text-center">Kitchens</h4>
                    <p class = "smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conidatat non proident,
                    sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                    sunt in culpa quiidatat non proident.</p>
            </div>

            <div class="col-4 col-md-4 col-xs-12">
                <h4 class="fancy-heading text-center">Bathrooms</h4>
                    <p class = "smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conidatat non proident,
                    sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                    sunt in culpa quiidatat non proident.</p>
            </div>
            <div class="col-4 col-md-4 col-xs-12">
                <h4 class="fancy-heading text-center">Fences</h4>
                    <p class = "smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conidatat non proident,
                    sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident, sunt in culpa quiidatat non proident,
                    sunt in culpa quiidatat non proident.</p>
                    
            </div>
    </div>
    <hr>
</div>


<!-- Footer -->
<footer style="background-color: #333333;" class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
      <a style="color: #fcba03;"href="#"> R & G Contracts LTD</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->

{% endblock content%}